body {
    background-color: black;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;

}

.navbar-full-width {
    width: 100%;
    background-color: #555;
    color: #0056b3;
    display: flex;

}



div.container {
    max-width: 100%;
    margin: 0%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #555;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-image: url(./images/warning.jpg);
    border-radius: 5%;
}


img {
    max-width: 150px;
    border-radius: 20%;
    border: 2px solid #fffffffc;
}


footer {
    background-color: #555;
    text-align: center;
}

p {
    margin: 0%;
}


.saludo {
    background-color: #010101;
    color: white;
    color: aliceblue;
}

.miBoton {
    color: #ddd;
    background-color: #353535;
    border-radius: 5%;
}

.eliminar-producto {
    color: #ddd;
    background-color: #353535;
    border-radius: 5%;

}

.precio {
    color: rgb(252, 247, 249);
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h2.titulouno {
    font-size: 50px;
    color: #f6bdbd;
    text-shadow: 2px 2px 2px black;
}

p {
    color: #ddd;
    text-shadow: 2px 2px 2px #020202;
    background-color: #3535353b;
}

.logo {
    border: none;
}

.tituloproducto {
    color: #c17023;
    text-shadow: 2px 1px 10px  rgb(0, 0, 0);
}